<main>
  <div class="container">
    <div
      class="site-sign-up d-flex align-items-center justify-content-center mt-5 mb-5"
      style=""
    >
      <form [formGroup]="applyChangePass" (submit)="submit()">
        <div class="border rounded-2 p-4" style="width: fit-content">
          <div class="ssu-title h2 text-center">Thay đổi mật khẩu</div>
          <div class="input-group mb-3" style="width: 392px">
            <label for="" class="mb-2 h6">Mật khẩu cũ</label>
            <input
              type="password"
              formControlName="oldpassword"
              id=""
              class="form-control w-100"
              placeholder="Vui lòng nhập mật khẩu cũ"
            />
            <div class="text-danger mt-1">
              @if (applyChangePass.controls['oldpassword'].touched &&
              applyChangePass.controls['oldpassword'].errors?.['required']) {
              <span>Mật khẩu cũ không được bỏ trống</span>
              } @else if (applyChangePass.controls['oldpassword'].touched &&
              applyChangePass.controls['oldpassword'].invalid) {
              <span
                >Mật khẩu cần ít nhất 1 ký tự thường, 1 ký tự viết hoa, 1 ký tự
                đặc biệt và ít nhất 12 ký tự</span
              >
              }
            </div>
          </div>

          <div class="input-group mb-3" style="width: 392px">
            <label for="" class="mb-2 h6">Mật khẩu mới</label>
            <input
              type="password"
              formControlName="newpassword"
              id=""
              class="form-control w-100"
              placeholder="Vui lòng nhập mật khẩu mới"
            />
            <div class="text-danger mt-1">
              @if (applyChangePass.controls['newpassword'].touched &&
              applyChangePass.controls['newpassword'].errors?.['required']) {
              <span>Mật khẩu mới không được bỏ trống</span>
              } @else if (applyChangePass.controls['newpassword'].touched &&
              applyChangePass.controls['newpassword'].invalid) {
              <span
                >Mật khẩu cần ít nhất 1 ký tự thường, 1 ký tự viết hoa, 1 ký tự
                đặc biệt và ít nhất 12 ký tự</span
              >
              }
            </div>
          </div>

          <div class="input-group mb-3" style="width: 392px">
            <label for="" class="mb-2 h6">Xác nhận mật khẩu</label>
            <input
              type="password"
              formControlName="confirmnewpassword"
              id=""
              class="form-control w-100"
              placeholder="Vui lòng xác nhận mật khẩu mới"
            />
            <div class="text-danger mt-1">
              @if (applyChangePass.controls['confirmnewpassword'].touched &&
              applyChangePass.controls['confirmnewpassword'].errors?.['required'])
              {
              <span>Xác nhận mật khẩu mới không được bỏ trống</span>
              } @else if (this.applyChangePass.value.newpassword !==
              this.applyChangePass.value.confirmnewpassword) {
              <span>Mật khẩu xác nhận mới không khớp với mật khẩu mới.</span>
              }
            </div>
          </div>

          <div class="ssu-button w-100">
            <button type="submit" class="btn btn-primary mb-3 w-100">
              Đổi mật khẩu
            </button>
            <a routerLink="/signin">
              <button type="button" class="btn btn-outline-primary w-100">
                Quay lại
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
