    <main>
        <div class="container">
            <div class="site-contact">
                <div class="row">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4622531064733!2d106.62452461084615!3d10.852403157742582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b161f50ae47%3A0x2328d1d1acc3b11a!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYyBUUC5IQ00gLSBUw7JhIEY!5e0!3m2!1svi!2s!4v1721304222896!5m2!1svi!2s"
                        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                        <h5>Batokatravel</h5>
                        <p class="text-break text-center" style="max-width: 400px">
                            Công Viên Phần mềm Quang Trung, Lô 3 đường 16, Tân Chánh Hiệp,
                            Quận 12, Hồ Chí Minh
                        </p>
                        <p>0984004258</p>
                    </div>
                    <div class="col-6 border rounded-3 p-3">
                        <h4>Thông tin liên lạc</h4>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label h5 w-100 text-start">Họ tên</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label h5 w-100 text-start">Email</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label h5 w-100 text-start">Số điện
                                    thoại</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label h5 w-100 text-start">Nội dung</label>
                                <textarea class="form-control" placeholder="Vui lòng để lại lời nhắn ở đây"
                                    id="floatingTextarea"></textarea>
                            </div>
                            <div class="contact-button w-100 d-flex align-items-center justify-content-end">
                                <button type="submit" class="btn btn-primary btn-lg w-25">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>