

  <main class="d-{{this.orderService.orders.length !== 0 ? '' : 'none'}}">
    <div class="container">
      <div class="site-cart mt-5">
        <div class="row">
          <div class="col-lg-8">
            <div class="table-responsive">
              <table class="table table-bordered align-middle table-responsive">
                <thead>
                  <tr>
                    <th scope="col">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                      </div>
                    </th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  @for (order of orders; track order) {
                  <tr>
                    <th scope="row">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                      </div>
                    </th>
                    <td class="d-flex align-items-center">
                      <img
                        src="{{ order.idProd.images[0] }}"
                        alt=""
                        width="50"
                        height="50"
                      />
                      <div class="cart-prodname ms-3 h6">
                        {{ order.idProd.name }}
                      </div>
                    </td>
                    <td>
                      {{
                        order.idProd.price
                          | currency : "VND" : "đồng" : "0.0-0" : "vi"
                      }}
                    </td>
                    <td>
                      <select
                        class="form-select w-75"
                        aria-label="Default select example"
                        readonly
                      >
                        <option selected value="{{ order.quantity }}">
                          {{ order.quantity }}
                        </option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                      <!-- <input type="number" class="form-control w-25" value="{{ order.quantity }}"> -->
                    </td>
                    <td
                      class="text-center btndelete"
                      [routerLink]="['/cart', order.id]"
                      (click)="deleteCart($event)"
                    >
                      <i class="fa-solid fa-trash" id="{{ order.id }}"></i>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-4 border rounded-3 p-3">
            <h4>Bảng tóm tắt</h4>
            <div class="cart-itemsselected border-bottom pb-3">
              @for (order of orders; track $index) {
              <div
                class="cart-itemselected d-flex justify-content-between text-secondary"
              >
                <div>{{ order?.idProd?.name }}</div>
                <div>
                  {{
                    order.idProd.price * order.quantity
                      | currency : "VND" : "đồng" : "0.0-0" : "vi"
                  }}
                </div>
              </div>
              }
            </div>
            <div class="cart-price mt-3 border-bottom pb-3">
              <div
                class="cart-itemselected d-flex justify-content-between text-secondary"
              >
                <div>Tổng giá</div>
                <div>
                  {{
                    this.totalPrice | currency : "VND" : "đồng" : "0.0-0" : "vi"
                  }}
                </div>
              </div>
              <div
                class="cart-itemselected d-flex justify-content-between text-secondary"
              >
                <div>Tiền giảm giá</div>
                <div>{{this.totalPrice*0.15 | currency : "VND" : "đồng" : "0.0-0" : "vi"}}</div>
              </div>
            </div>
            <div class="cart-price mt-3 border-bottom pb-3">
              <div
                class="cart-itemselected d-flex justify-content-between fw-bold"
              >
                <h5>Tổng giá</h5>
                <h5>{{
                  this.totalPrice | currency : "VND" : "đồng" : "0.0-0" : "vi"
                }}</h5>
              </div>
            </div>
            <div class="cart-discount mt-3">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-outline-primary w-100"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Sử dụng mã giảm giá
              </button>
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Mã giảm giá
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Mã giảm giá
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                          />
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Quay lại
                      </button>
                      <button type="button" class="btn btn-primary">
                        Áp dụng mã giảm giá
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-btn-address w-100 text-end">
              <a
                routerLink="/addressShipping"
                type="button"
                class="btn btn-primary mt-3 w-100"
                >Địa chỉ thanh toán</a
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dp-relatedproduct">
            <section class="popularTour pt mt-5">
              <h4 id="scrollspyHeading03">Chuyến đi tương tự</h4>
              <div class="row">
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://pix8.agoda.net/geo/poi/51323/2_51323_03.jpg?ca=7&ce=1&s=600x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        1.000.000 VND
                        <del class="h6 text-secondary">1.100.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Việt Nam</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Đà Nẵng
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          4 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >10%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://pix8.agoda.net/geo/poi/222405/2_222405.jpg?ca=6&ce=1&s=600x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        2.000.000 VND
                        <del class="h6 text-secondary">2.300.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Thái Lan</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Chiang Mai
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          3 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >15%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://pix8.agoda.net/hotelImages/687/687154/687154_14080609040020704429.jpg?ca=2&ce=1&s=1280x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        4.000.000 VND
                        <del class="h6 text-secondary">4.800.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Úc</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Gippsland
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          5 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >20%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcSuWlU6WKPAmsQ0YwKARbu0TzL3ZwPVgy_N_F8KRDVVFztyz38Ncna5R8JwOX7oTQwvmMRvN3Ro6eut042zt5kG9JD8aP3IpXYoKZ91Bg"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        5.000.000 VND
                        <del class="h6 text-secondary">6.250.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Lào</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Muang Xai
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          4 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >25%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://q-xx.bstatic.com/xdata/images/hotel/max1280x900/138359955.jpg?k=a64a82775de014c4cfa97df25d4a994df6b2df751505641fd5349bf413f3c195&o=&s=600x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        6.000.000 VND
                        <del class="h6 text-secondary">7.200.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Argentina</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Pinamar
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          3 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >20%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://q-xx.bstatic.com/xdata/images/hotel/max1280x900/546883566.jpg?k=71c1abc15f3b0c465c76650fff0341d47fd1bcb81d523f9f68076c31f80591e0&o=&s=600x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        8.000.000 VND
                        <del class="h6 text-secondary">10.000.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Brazil</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Gramado
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          7 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >25%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://q-xx.bstatic.com/xdata/images/hotel/max1280x900/365811879.jpg?k=9122d89251e088b8a977b3a02989ff12e6ebeb6688f1811581dcad564ee490c6&o=&s=600x"
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        9.000.000 VND
                        <del class="h6 text-secondary">9.900.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Pháp</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Saverdun
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          5 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >10%
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  routerLink="/detailprod"
                  class="col-lg-3 col-md-6 mb-4 text-decoration-none"
                >
                  <div class="card position-relative">
                    <img
                      class="card-img-top"
                      src="https://q-xx.bstatic.com/xdata/images/hotel/max300/139290143.jpg?k=c059dc24edb1511b0df2aa2552c5273cdae273d18f4fa3dfedd8e788398e2667&o="
                      alt="Title"
                      height="200px"
                    />
                    <div class="card-body">
                      <p class="card-text text-primary h5">
                        10.000.000 VND
                        <del class="h6 text-secondary">11.500.000 VND</del>
                      </p>
                      <h4 class="card-title">Khám phá Đức</h4>
                      <div
                        class="progress"
                        role="progressbar"
                        aria-label="Example 1px high"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="height: 1px"
                      >
                        <div class="progress-bar" style="width: 0"></div>
                      </div>
                      <div
                        class="pt-address pta d-flex align-items-center justify-content-between mt-3"
                      >
                        <div class="pta-geo me-3">
                          <i
                            class="fa-solid fa-location-dot"
                            style="color: #001eff"
                          ></i>
                          Thành Phố Wiek
                        </div>
                        <div class="pta-date">
                          <i class="fa-solid fa-clock" style="color: #0008ff"></i>
                          4 ngày
                        </div>
                      </div>
                      <div
                        class="pt-rate border rounded-4 w-25 text-center h6 py-1 position-absolute bg-white"
                        style="top: 16px; right: 16px"
                      >
                        <i
                          class="fa-brands fa-salesforce me-1"
                          style="color: #ff0000"
                        ></i
                        >15%
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <main class="d-{{this.orderService.orders.length === 0 ? '' : 'none'}}">
    <div class="container">
      <div class="cart-empty vh-75 d-flex align-items-center justify-content-center flex-column">
        <img class="" height="400px" src="https://media.istockphoto.com/id/861576608/vi/vec-to/bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-empty-shopping-bag-m%E1%BA%ABu-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-vector-online-business.jpg?s=612x612&w=0&k=20&c=-6p0qVyb_p8VeHVu1vJVaDHa6Wd_mCjMkrFBTlQdehI=" alt="">
        <div class="h3">Giỏ hàng của bạn đang trống!</div>
        <div class="btn btn-primary mt-2" routerLink="/catelogies">Đặt hàng ngay bây giờ</div>
      </div>
    </div>
  </main>


