  <main>
    <div class="container">
      <div class="site-blogDetail">
        <div class="row">
          <!-- Banner -->
          <div class="site-banner">
            <div class="container">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner bg-dark">
                  <div class="carousel-item active">
                    <div class="row" style="height: fit-content;">
                      <div class="col-12 col-lg-6 text-center">
                        <div class="text-white sb-text d-flex flex-column justify-content-center p-3 h-100">
                          <div class="sb-text-title mb-4 fs-2 text-break">
                            Khám phá khu du lịch Phú Quốc cùng khách sạn Aloha Hotel
                          </div>
                          <div class="sb-text-content">
                            <div class="sb-tc-desc fs-6 overflow-hidden" style="max-height: 50px;">
                              Aloha Hotel Phú Quốc không chỉ là một khách sạn đẹp và thoải
                              mái, mà còn cung cấp nhiều tiện ích giải trí tuyệt vời.
                              Khách sạn có một quầy bar nơi bạn có thể thưởng thức những
                              đồ uống độc đáo và thư giãn sau một ngày dài khám phá đảo.
                              Ngoài ra, khu vườn xanh mát cũng là nơi lý tưởng để bạn tận
                              hưởng không gian tự nhiên và thư giãn. Nếu bạn muốn tìm một
                              nơi để gặp gỡ và trò chuyện với những người khác, khu vực
                              phòng khách chung và khu vực xem TV cũng sẽ là lựa chọn
                              tuyệt vời.
                            </div>
                            <a routerLink="/blogdetail" class="nav-link d-flex justify-content-center">
                              <div class="sb-tc-btn btn btn-primary d-flex mt-3" style="width: fit-content">
                                Khám phá nhiều hơn
                                <i class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                                  style="width: 24px; height: 24px"></i>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 p-5 d-flex justify-content-center">
                        <img
                          src="https://pix8.agoda.net/geo/poi/1516947/e622ee207870c099fdf26e39c3b64233.jpg?ce=0&s=1280x"
                          class="d-block border-0 rounded-2 img-fluid" alt="..." height="300" />
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item ">
                    <div class="row" style="height: fit-content;">
                      <div class="col-12 col-lg-6 text-center">
                        <div class="text-white sb-text d-flex flex-column justify-content-center p-3 h-100">
                          <div class="sb-text-title mb-4 fs-2 text-break">
                            Bạn không thể bỏ qua địa điểm du lịch Đà Lạt cùng khách sạn
                            Tuấn Kiệt
                          </div>
                          <div class="sb-text-content">
                            <div class="sb-tc-desc fs-6 overflow-hidden" style="max-height: 50px;">
                              Đà Lạt, Việt Nam, cung cấp nhiều tiện nghi giải trí để bạn
                              có thể tận hưởng một kỳ nghỉ thú vị. Salon tại khách sạn là
                              nơi lý tưởng để bạn thư giãn và thưởng thức những dịch vụ
                              làm đẹp chất lượng. Hãy để các chuyên gia tại đây chăm sóc
                              cho bạn, giúp bạn cảm thấy thư thái và tươi mới. Ngoài ra,
                              khách sạn còn có khu vực phòng chung/TV, nơi bạn có thể tận
                              hưởng những bộ phim hấp dẫn hoặc xem các sự kiện thể thao
                              trực tiếp cùng bạn bè và gia đình. Đây là không gian lý
                              tưởng để giao lưu và tạo kỷ niệm đáng nhớ. Nếu bạn muốn mua
                              quà lưu niệm để gửi về người thân và bạn bè, hãy ghé qua cửa
                              hàng quà tặng/souvenir shop tại khách sạn. Ở đây, bạn sẽ tìm
                              thấy những món quà độc đáo và đẹp mắt để mang về như một kỷ
                              niệm đáng nhớ về chuyến đi của mình.
                            </div>
                            <a routerLink="/blogdetail" class="nav-link d-flex justify-content-center">
                              <div class="sb-tc-btn btn btn-primary d-flex mt-3" style="width: fit-content">
                                Khám phá nhiều hơn
                                <i class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                                  style="width: 24px; height: 24px"></i>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 p-5 d-flex justify-content-center">
                        <img src="https://pix8.agoda.net/geo/poi/28093/2_28093.jpg?ca=6&ce=1&s=1280x"
                          class="d-block border-0 rounded-2 img-fluid" alt="..." height="300" />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="carousel-item position-relative" style="height: 400px">
            <div class="text-white sb-text position-absolute d-flex flex-column justify-content-center"
              style="top: 50px; left: 150px; height: 300px">
              <div class="sb-text-title mb-4 fs-2 text-break" style="max-width: 500px">
                Bạn không thể bỏ qua địa điểm du lịch Đà Lạt cùng khách sạn
                Tuấn Kiệt
              </div>
              <div class="sb-text-content" style="width: 400px">
                <div class="sb-tc-desc fs-6 overflow-hidden" style="max-height: 100px">
                  Đà Lạt, Việt Nam, cung cấp nhiều tiện nghi giải trí để bạn
                  có thể tận hưởng một kỳ nghỉ thú vị. Salon tại khách sạn là
                  nơi lý tưởng để bạn thư giãn và thưởng thức những dịch vụ
                  làm đẹp chất lượng. Hãy để các chuyên gia tại đây chăm sóc
                  cho bạn, giúp bạn cảm thấy thư thái và tươi mới. Ngoài ra,
                  khách sạn còn có khu vực phòng chung/TV, nơi bạn có thể tận
                  hưởng những bộ phim hấp dẫn hoặc xem các sự kiện thể thao
                  trực tiếp cùng bạn bè và gia đình. Đây là không gian lý
                  tưởng để giao lưu và tạo kỷ niệm đáng nhớ. Nếu bạn muốn mua
                  quà lưu niệm để gửi về người thân và bạn bè, hãy ghé qua cửa
                  hàng quà tặng/souvenir shop tại khách sạn. Ở đây, bạn sẽ tìm
                  thấy những món quà độc đáo và đẹp mắt để mang về như một kỷ
                  niệm đáng nhớ về chuyến đi của mình.
                </div>
                <div class="sb-tc-btn btn btn-primary d-flex mt-3" style="width: fit-content">
                  Khám phá nhiều hơn
                  <i class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                    style="width: 24px; height: 24px"></i>
                </div>
              </div>
            </div>
            <img src="https://pix8.agoda.net/geo/poi/28093/2_28093.jpg?ca=6&ce=1&s=1280x"
              class="d-block position-absolute border-0 rounded-2" alt="..." height="300"
              style="top: 50px; right: 150px" />
          </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <!-- Banner End-->
        </div>
        <div class="row ms-0 mt-5" style="margin-left: 12px !important">
          <div class="col-lg-4 border rounded-3 p-3">
            <h3>Bài viết liên quan</h3>
            <a routerLink="/blogdetail" class="text-decoration-none text-dark bd-item d-flex align-items-center mb-3">
              <img src="https://pix8.agoda.net/geo/poi/28108/2_28108.jpg?ca=6&ce=1&s=1280x" alt="" width="80"
                height="80" />
              <div class="bd-item-content ms-3">
                Phú Quốc không chỉ là một khách sạn đẹp và thoải mái, mà còn
                cung cấp nhiều tiện ích giải trí tuyệt vời. Khách sạn có một
                quầy bar nơi bạn có thể thưởng thức những đồ uống độc đáo và
                thư giãn sau
              </div>
            </a>
            <a routerLink="/blogdetail" class="text-decoration-none text-dark bd-item d-flex align-items-center mb-3">
              <img src="https://pix8.agoda.net/geo/poi/28108/2_28108.jpg?ca=6&ce=1&s=1280x" alt="" width="80"
                height="80" />
              <div class="bd-item-content ms-3">
                Phú Quốc không chỉ là một khách sạn đẹp và thoải mái, mà còn
                cung cấp nhiều tiện ích giải trí tuyệt vời. Khách sạn có một
                quầy bar nơi bạn có thể thưởng thức những đồ uống độc đáo và
                thư giãn sau
              </div>
            </a>
            <a routerLink="/blogdetail" class="text-decoration-none text-dark bd-item d-flex align-items-center mb-3">
              <img src="https://pix8.agoda.net/geo/poi/28108/2_28108.jpg?ca=6&ce=1&s=1280x" alt="" width="80"
                height="80" />
              <div class="bd-item-content ms-3">
                Phú Quốc không chỉ là một khách sạn đẹp và thoải mái, mà còn
                cung cấp nhiều tiện ích giải trí tuyệt vời. Khách sạn có một
                quầy bar nơi bạn có thể thưởng thức những đồ uống độc đáo và
                thư giãn sau
              </div>
            </a>
          </div>
          <div class="col-lg-8">
            <div class="spd-c-right">
              <div class="spd-cr-title h3">
                I’m an Batokatravel delivery driver in Baltimore. My favorite
                features on our vans from Rivian are the air-conditioned seats
                and the screen built into the dash.
              </div>
              <div class="spd-cr-content h6">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Venenatis sit
                  dignissim vel lacus aliquet massa quam nisi tincidunt. Ante
                  eu ut arcu ultrices vitae libero interdum. Ac tempus
                  elementum suspendisse amet massa nec nunc ullamcorper
                  venenatis. Sed id tortor in nibh tortor commodo. Ultricies
                  et vitae massa ut et mi. Quam amet nulla lobortis rhoncus
                  ipsum pharetra elementum magna vitae. Eget orci feugiat
                  lectus aliquet.
                </p>
                <p>
                  Amet pretium dui nunc laoreet sed lorem. Pretium volutpat
                  mauris sit curabitur pellentesque orci. Integer egestas
                  dictum quis eget in libero eget. Elementum magna amet quam
                  sem rhoncus lacus. Augue dignissim enim elementum egestas at
                  sed dui. Consequat nibh ut urna morbi a. Convallis nulla a
                  pulvinar augue cursus neque tortor. Accumsan erat ultrices
                  magna mattis egestas vel. Consequat at arcu risus a enim at
                  orci velit. Nam consequat mauris malesuada phasellus vel
                  consequat varius vitae suspendisse. Adipiscing adipiscing
                  lacus nulla tortor ultrices sed eget. Aliquet ornare
                  adipiscing lacus non elit vel. Tortor sed adipiscing
                  imperdiet tortor quam dolor augue molestie. Interdum turpis
                  in tortor velit urna augue.
                </p>
                <span class="eh6" style="color: var(--black-01)">
                  Sed id tortor in nibh tortor commodo
                </span>
                <p>
                  Lectus sed eu suscipit et rhoncus quis massa. Tincidunt diam
                  massa id id scelerisque. Id in egestas sed duis duis congue.
                  Arcu suspendisse habitant mauris elementum aliquet. Sit
                  blandit id pellentesque tempor. Turpis tortor malesuada
                  pulvinar sollicitudin felis eget. Vulputate enim at varius
                  nec. Pellentesque senectus pellentesque sollicitudin cursus
                  lacus.
                </p>
                <span class="eh6" style="color: var(--black-01)">
                  Sed id tortor in nibh tortor commodo
                </span>
                <p>
                  Lorem vitae tristique aliquam at id morbi. Quis sit lectus
                  orci accumsan neque diam scelerisque euismod. Vulputate
                  parturient dictum eget et elit phasellus. Eget ullamcorper
                  sed imperdiet orci arcu nibh sit potenti fringilla. Vel enim
                  est cursus eu phasellus porttitor. Etiam donec senectus
                  viverra sit pretium amet mattis quis adipiscing. Tristique
                  blandit enim laoreet elit commodo. Sit nascetur auctor porta
                  velit id nec ultricies aenean dolor. Tincidunt sagittis a
                  commodo tellus. Vulputate ullamcorper facilisis in ac eu
                  risus quis placerat. Id egestas gravida sit aliquam neque in
                  ut quam. Tempus adipiscing tortor viverra sociis elementum
                  adipiscing nisi cras.
                </p>
                <span class="eh6" style="color: var(--black-01)">
                  Sed id tortor in nibh tortor commodo
                </span>
                <p>
                  Diam consectetur sit maecenas laoreet egestas. Quam erat sed
                  velit mi nunc lectus. Hendrerit duis gravida sit est nullam
                  leo massa nisl ac. Maecenas velit semper tempor magna.
                  Cursus risus sed egestas morbi eleifend nec eu. Enim
                  ultrices aliquam elementum et eu rutrum.
                </p>
                <p>
                  Scelerisque elementum eget eu quam blandit sit rutrum
                  tortor. Dictumst venenatis suspendisse mauris cras. Amet
                  nunc euismod condimentum id leo praesent etiam feugiat.
                  Sollicitudin amet parturient pellentesque sapien. At
                  sollicitudin leo amet sed ut. A egestas imperdiet et non
                  turpis vestibulum. Dolor pharetra nam quis facilisis tempus.
                  Aliquam aliquam turpis neque et ornare massa quam. Consequat
                  sem est quis imperdiet nam. Nisl consequat dapibus purus id
                  fermentum tortor egestas. Facilisi purus fringilla ac mus
                  duis et faucibus nunc. Scelerisque felis at ipsum faucibus
                  aliquam sagittis gravida. Vitae in feugiat sit malesuada mus
                  viverra quam ante. In feugiat ut mauris nibh ante. Est nunc
                  donec amet ligula urna. Consequat nisl lacus eget sit non
                  ut. Odio condimentum eu pharetra mollis ipsum condimentum
                  tristique pharetra nullam. Ultricies sit at etiam augue
                  tincidunt aliquet amet sed suspendisse. Facilisi at elit
                  eget viverra mattis consectetur egestas accumsan eu. Ac
                  penatibus viverra diam augue nulla sed. Viverra ut sapien
                  diam amet porttitor. Scelerisque nulla tristique cursus a
                  sagittis non. Nec viverra quis massa proin.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>