<style>
  @media (min-width: 992px) {
    .fc .btn {
      width: 25% !important;
    }
    .blog-btn {
      width: 25% !important;
    }
  }
</style>
<!-- Banner -->
<div class="site-banner">
  <div class="container">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner bg-dark">
        <div class="carousel-item active">
          <div class="row" style="height: fit-content">
            <div class="col-12 col-lg-6 text-center">
              <div
                class="text-white sb-text d-flex flex-column justify-content-center p-3 h-100"
              >
                <div class="sb-text-title mb-4 fs-2 text-break">
                  Khám phá khu du lịch Phú Quốc cùng khách sạn Aloha Hotel
                </div>
                <div class="sb-text-content">
                  <div
                    class="sb-tc-desc fs-6 overflow-hidden"
                    style="max-height: 50px"
                  >
                    Aloha Hotel Phú Quốc không chỉ là một khách sạn đẹp và thoải
                    mái, mà còn cung cấp nhiều tiện ích giải trí tuyệt vời.
                    Khách sạn có một quầy bar nơi bạn có thể thưởng thức những
                    đồ uống độc đáo và thư giãn sau một ngày dài khám phá đảo.
                    Ngoài ra, khu vườn xanh mát cũng là nơi lý tưởng để bạn tận
                    hưởng không gian tự nhiên và thư giãn. Nếu bạn muốn tìm một
                    nơi để gặp gỡ và trò chuyện với những người khác, khu vực
                    phòng khách chung và khu vực xem TV cũng sẽ là lựa chọn
                    tuyệt vời.
                  </div>
                  <a
                    routerLink="/blogdetail"
                    class="nav-link d-flex justify-content-center"
                  >
                    <div
                      class="sb-tc-btn btn btn-primary d-flex mt-3"
                      style="width: fit-content"
                    >
                      Khám phá nhiều hơn
                      <i
                        class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                        style="width: 24px; height: 24px"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-5 d-flex justify-content-center">
              <img
                src="https://pix8.agoda.net/geo/poi/1516947/e622ee207870c099fdf26e39c3b64233.jpg?ce=0&s=1280x"
                class="d-block border-0 rounded-2 img-fluid"
                alt="..."
                height="300"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row" style="height: fit-content">
            <div class="col-12 col-lg-6 text-center">
              <div
                class="text-white sb-text d-flex flex-column justify-content-center p-3 h-100"
              >
                <div class="sb-text-title mb-4 fs-2 text-break">
                  Bạn không thể bỏ qua địa điểm du lịch Đà Lạt cùng khách sạn
                  Tuấn Kiệt
                </div>
                <div class="sb-text-content">
                  <div
                    class="sb-tc-desc fs-6 overflow-hidden"
                    style="max-height: 50px"
                  >
                    Đà Lạt, Việt Nam, cung cấp nhiều tiện nghi giải trí để bạn
                    có thể tận hưởng một kỳ nghỉ thú vị. Salon tại khách sạn là
                    nơi lý tưởng để bạn thư giãn và thưởng thức những dịch vụ
                    làm đẹp chất lượng. Hãy để các chuyên gia tại đây chăm sóc
                    cho bạn, giúp bạn cảm thấy thư thái và tươi mới. Ngoài ra,
                    khách sạn còn có khu vực phòng chung/TV, nơi bạn có thể tận
                    hưởng những bộ phim hấp dẫn hoặc xem các sự kiện thể thao
                    trực tiếp cùng bạn bè và gia đình. Đây là không gian lý
                    tưởng để giao lưu và tạo kỷ niệm đáng nhớ. Nếu bạn muốn mua
                    quà lưu niệm để gửi về người thân và bạn bè, hãy ghé qua cửa
                    hàng quà tặng/souvenir shop tại khách sạn. Ở đây, bạn sẽ tìm
                    thấy những món quà độc đáo và đẹp mắt để mang về như một kỷ
                    niệm đáng nhớ về chuyến đi của mình.
                  </div>
                  <a
                    routerLink="/blogdetail"
                    class="nav-link d-flex justify-content-center"
                  >
                    <div
                      class="sb-tc-btn btn btn-primary d-flex mt-3"
                      style="width: fit-content"
                    >
                      Khám phá nhiều hơn
                      <i
                        class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                        style="width: 24px; height: 24px"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-5 d-flex justify-content-center">
              <img
                src="https://pix8.agoda.net/geo/poi/28093/2_28093.jpg?ca=6&ce=1&s=1280x"
                class="d-block border-0 rounded-2 img-fluid"
                alt="..."
                height="300"
              />
            </div>
          </div>
        </div>
        <!-- <div class="carousel-item position-relative" style="height: 400px">
            <div class="text-white sb-text position-absolute d-flex flex-column justify-content-center"
              style="top: 50px; left: 150px; height: 300px">
              <div class="sb-text-title mb-4 fs-2 text-break" style="max-width: 500px">
                Bạn không thể bỏ qua địa điểm du lịch Đà Lạt cùng khách sạn
                Tuấn Kiệt
              </div>
              <div class="sb-text-content" style="width: 400px">
                <div class="sb-tc-desc fs-6 overflow-hidden" style="max-height: 100px">
                  Đà Lạt, Việt Nam, cung cấp nhiều tiện nghi giải trí để bạn
                  có thể tận hưởng một kỳ nghỉ thú vị. Salon tại khách sạn là
                  nơi lý tưởng để bạn thư giãn và thưởng thức những dịch vụ
                  làm đẹp chất lượng. Hãy để các chuyên gia tại đây chăm sóc
                  cho bạn, giúp bạn cảm thấy thư thái và tươi mới. Ngoài ra,
                  khách sạn còn có khu vực phòng chung/TV, nơi bạn có thể tận
                  hưởng những bộ phim hấp dẫn hoặc xem các sự kiện thể thao
                  trực tiếp cùng bạn bè và gia đình. Đây là không gian lý
                  tưởng để giao lưu và tạo kỷ niệm đáng nhớ. Nếu bạn muốn mua
                  quà lưu niệm để gửi về người thân và bạn bè, hãy ghé qua cửa
                  hàng quà tặng/souvenir shop tại khách sạn. Ở đây, bạn sẽ tìm
                  thấy những món quà độc đáo và đẹp mắt để mang về như một kỷ
                  niệm đáng nhớ về chuyến đi của mình.
                </div>
                <div class="sb-tc-btn btn btn-primary d-flex mt-3" style="width: fit-content">
                  Khám phá nhiều hơn
                  <i class="bi bi-cursor ms-2 border rounded-5 bg-white text-dark p-1 d-flex justify-content-center align-items-center"
                    style="width: 24px; height: 24px"></i>
                </div>
              </div>
            </div>
            <img src="https://pix8.agoda.net/geo/poi/28093/2_28093.jpg?ca=6&ce=1&s=1280x"
              class="d-block position-absolute border-0 rounded-2" alt="..." height="300"
              style="top: 50px; right: 150px" />
          </div> -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- Banner End-->

<!-- Main -->
<main>
  <div class="container">
    <section class="site-about sa mt-5">
      <div class="row">
        <div class="col-lg-4 col-12 sa-img d-flex align-items-center">
          <img
            class="img-fluid border-0 rounded-2"
            src="images/banner_01.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-8 col-12 mt-3 sa-text">
          <div class="sa-t-title h1">Giới thiệu về chúng tôi</div>
          <div class="sa-t-content my-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="sa-t-service">
            <div class="row">
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-shield me-1"></i>
                Hệ thống du lịch an toàn
              </div>
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-piggy-bank me-1"></i>
                Với ngân sách thân thiện
              </div>
            </div>
            <div class="row">
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-alarm me-1"></i>
                Kế hoạch du lịch chuyên nghiệp
              </div>
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-pci-card-network me-1"></i>
                Cộng đồng linh hoạt
              </div>
            </div>
            <div class="row">
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-star me-1"></i>
                Giải pháp và hướng dẫn uy tín
              </div>
              <div class="col-lg col-12 mt-lg-3 h6 fw-bold fs-5">
                <i class="bi bi-headphones me-1"></i>
                Dịch vụ hỗ trợ khách hàng 24/7
              </div>
            </div>
          </div>
          <a routerLink="/contact" class="nav-link">
            <button type="button" class="btn btn-primary mt-3 btn-lg">
              Liên hệ chúng tôi
            </button>
          </a>
        </div>
      </div>
    </section>

    <section class="featuredCatelogy fc mt-5">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-12">
          <h1 class="">Chuyến đi nổi bật</h1>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-end">
          <a routerLink="/catelogies" class="btn btn-outline-primary w-lg-25 w-100">
            Xem chi tiết
          </a>
        </div>
      </div>
      <div class="row mt-lg-0 mt-4">
        <app-catelogy-card
          *ngFor="let catelogy of catelogies"
          [catelogy]="catelogy"
          class="col-lg-2 col-md-4 col-6 mb-lg-0 mb-4"
          [routerLink]="['catelogies']"
          style="cursor: pointer"
        ></app-catelogy-card>
      </div>
      <div
        class="progress mt-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        style="height: 8px"
      >
        <div class="progress-bar" style="width: 25%"></div>
      </div>
    </section>

    <section class="saleTour pt mt-5">
      <h1 class="">Những chuyến đi mùa giảm giá</h1>
      <div class="row">
        <app-product-cart
          [routerLink]="['detailprod', productSale.id]"
          routerLinkActive="active"
          class="col-lg-3 col-md-6 mb-4 text-decoration-none"
          *ngFor="let productSale of productsSale"
          [productSale]="productSale"
          style="cursor: pointer"
        ></app-product-cart>
      </div>
    </section>

    <section class="popularTour pt mt-5">
      <h1 class="">Những chuyến đi phổ biến</h1>
      <div class="row">
        <app-product-cart
          [routerLink]="['detailprod', productPopular.id]"
          routerLinkActive="active"
          class="col-lg-3 col-md-6 mb-4 text-decoration-none"
          *ngFor="let productPopular of productsPopular"
          [productSale]="productPopular"
          style="cursor: pointer"
        ></app-product-cart>
      </div>
    </section>

    <section class="blog mt-5">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-12">
          <h1 class="">Bài viết của Batokatravel</h1>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-end mb-lg-0 mb-3">
          <a
            routerLink="/blog"
            type="button"
            class="text-decoration-none btn btn-outline-primary w-lg-25 w-100 blog-btn"
          >
            Xem chi tiết
          </a>
        </div>
      </div>
      <div class="row">
        <a
          routerLink="/blogdetail"
          class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-3 text-decoration-none"
        >
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://pix8.agoda.net/geo/poi/28108/2_28108.jpg?ca=6&ce=1&s=1280x"
              alt="Title"
              height="250px"
            />
            <div class="card-body">
              <p class="card-text text-secondary">17/07/2024</p>
              <h4 class="card-title">Thành phố Đà Lạt có gì hấp dẫn?</h4>
              <p class="card-text overflow-hidden" style="max-height: 190px">
                Được thiên nhiên ưu ái ban tặng cho khí hậu ôn hòa của miền ôn
                đới, Đà Lạt dường như không có cái nóng bức của miền Nam hay cái
                lạnh tím tái của các tỉnh miền Bắc mà khí hậu nơi đây lúc nào
                cũng dịu mát. Với cái mát lạnh ấy của Đà Lạt và thiên nhiên
                tuyệt đẹp nơi đây đã được đi vào những áng văn thơ, những bức
                tranh ảnh, nghệ thuật. Do đó, Đà Lạt đã không chỉ thu hút du
                khách trong nước mà cả nước ngoài hàng năm đến đây tham quan và
                tận hưởng kỳ nghỉ tuyệt vời nhất.
              </p>
            </div>
          </div>
        </a>
        <a
          routerLink="/blogdetail"
          class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-3 text-decoration-none"
        >
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://pix8.agoda.net/geo/poi/30556/2_30556.jpg?ca=6&ce=1&s=1280x"
              alt="Title"
              height="250px"
            />
            <div class="card-body">
              <p class="card-text text-secondary">17/07/2024</p>
              <h4 class="card-title">Thành phố Phuket có gì hấp dẫn?</h4>
              <p class="card-text overflow-hidden" style="max-height: 190px">
                Bạn đã sẵn sàng cho một chuyến đi Phuket tự túc thú vị chưa? Hãy
                ghi lại những kinh nghiệm du lịch Phuket hữu ích.
              </p>
            </div>
          </div>
        </a>
        <a
          routerLink="/blogdetail"
          class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-3 text-decoration-none"
        >
          <div class="card h-100">
            <img
              class="card-img-top"
              src="https://pix8.agoda.net/hotelImages/569/569400/569400_14071812570020337679.jpg?ca=2&ce=1&s=1280x"
              alt="Title"
              height="250px"
            />
            <div class="card-body">
              <p class="card-text text-secondary">17/07/2024</p>
              <h4 class="card-title">Thành phố Byron Bay có gì?</h4>
              <p class="card-text overflow-hidden" style="max-height: 190px">
                Các mẹo nhỏ của Jetstar khi du lịch tới Vịnh Byron, Úc bao gồm:
                thời tiết, sự kiện trong năm, cách di chuyển tới điểm đến,
                phương tiện giao thông và những.
              </p>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</main>
